.heading{
	width: 50%;
	margin: 30px auto;
	text-align: center;
	color: 	#746758;
	background: #FFF8DC;
	border: 2px solid #746758;
	border-radius: 20px;
}
form {
	width: 50%; 
	margin: 30px auto; 
	border-radius: 5px; 
	padding: 10px;
	background: #FFF8DC;
	border: 1px solid #746758;
}
form p {
	color: red;
	margin: 0px;
}

.btn {
	height: 39px;
	background: #FFF8DC;
	color: 	#746758;
	border: 2px solid #746758;
	border-radius: 5px; 
	padding: 5px 20px;
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th {
	font-size: 19px;
	color: #746758;
}

th, td{
	border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
	background: #E9E9E9;
}
